---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
	title="About Me"
	description="About Mert Şişmanoğlu, a Backend Developer focused on monitoring, observability, and system reliability."
	pubDate={new Date("August 13 2025")}
	heroImage="/photos/mert_sismanoglu-formal_square.jpg"
	smallHeroImage={true}
	showShareButtons={false}
>
	<p>
		I am Mert Şişmanoğlu, a Backend Developer passionate about monitoring,
		observability and system reliability. I'm currently maintaining
		<a href="https://github.com/bluewave-labs/capture">Capture</a>, a
		hardware monitoring agent for
		<a href="https://github.com/bluewave-labs/Checkmate">Checkmate</a> that collects
		and exposes hardware metrics via a RESTful API.
	</p>

	<span>
		I'm focusing on
		<ul class="list-disc pl-5">
			<li>Backend development with Go, Python, and TypeScript</li>
			<li>Cloud-native application design and development</li>
			<li>API monitoring and observability</li>
			<li>Performance profiling and backend reliability</li>
			<li>Open Source contributions and community engagement</li>
		</ul>
	</span>
</Layout>
