---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="flex items-center gap-4 justify-start">
				<img
					width="120px"
					class="rounded-full aspect-auto"
					src="photos/mert_sismanoglu-formal_square.jpg"
					alt="Mert Şişmanoğlu Profile Picture"
				/>
				<h1 class="text-3xl md:text-4xl font-bold text-primary">
					Mert Şişmanoğlu
				</h1>
			</div>
			<div class="mt-6">
				<p>
					I am Mert Şişmanoğlu, a Backend Developer passionate about
					monitoring, observability and system reliability. I'm
					currently maintaining
					<a href="https://github.com/bluewave-labs/capture"
						>Capture</a
					>, a hardware monitoring agent for
					<a href="https://github.com/bluewave-labs/Checkmate"
						>Checkmate</a
					> that collects and exposes hardware metrics via a RESTful API.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
