---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import ThemeInit from '../components/ThemeInit.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en">
	<head>
		<ThemeInit />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="flex flex-col md:flex-row items-center gap-3 md:gap-4 justify-start md:justify-start">
				<img
					class="rounded-full aspect-auto w-4/5 max-w-xs md:w-[120px]"
					src="photos/mert_sismanoglu-formal_square.jpg"
					alt="Mert Şişmanoğlu Profile Picture"
				/>
				<h1 class="text-2xl md:text-4xl font-bold text-primary leading-tight text-center md:text-left">
					Mert Şişmanoğlu
				</h1>
			</div>
			<div class="mt-4 md:mt-6">
				<p>
					I am Mert Şişmanoğlu, a Backend Developer passionate about
					monitoring, observability and system reliability. I'm
					currently maintaining
					<a href="https://github.com/bluewave-labs/capture"
						>Capture</a
					>, a hardware monitoring agent for
					<a href="https://github.com/bluewave-labs/Checkmate"
						>Checkmate</a
					> that collects and exposes hardware metrics via a RESTful API.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
