---
import BaseModal from './BaseModal.astro'
---

<BaseModal id="analytics-modal" title="Analytics Information">
	<p>This site uses Cloudflare Web Analytics to understand how visitors use the site. It:</p>
	<ul>
		<li>Does not collect personal information</li>
		<li>Does not use cookies or tracking scripts</li>
		<li>Respects browser "Do Not Track" settings</li>
		<li>Provides basic metrics like page views and referrers</li>
	</ul>
	<p>You can opt-out anytime using the toggle below.</p>
</BaseModal>
