---
const today = new Date()

import SocialLinks from './SocialLinks.astro'
---

<footer>
	<div>
		&copy; {today.getFullYear()} Mert Şişmanoğlu. Licensed under <a href="https://opensource.org/licenses/MIT">MIT License</a>.
	</div>
	<div>
		<a href="https://github.com/mertssmnoglu/mertssmnoglu.github.io">View source code on GitHub</a>
	</div>
	<SocialLinks />
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
